---
layout: default
title: Blog
---

<h2>Blog Posts</h2>

<ul class="blog-list">
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<style>
.blog-list {
  list-style: none;
  padding: 0;
}
.blog-list li {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.blog-list h3 {
  margin: 0 0 5px 0;
}
.blog-list h3 a {
  text-decoration: none;
  color: #0066cc;
}
.blog-list h3 a:hover {
  text-decoration: underline;
}
.post-date {
  color: #666;
  font-size: 0.9em;
  margin: 0 0 10px 0;
}
</style>

